body{
    font-family: Arial, sans-serif;
}


nav{
    width: 100%;
    height: 60px;
    background:#336b44;
    position: fixed;
    z-index: 2;
}

.logo{
    float: left;
    color: #ffba00;
    font-size: 30px;
    line-height: 60px;
    padding-left: 150px;
    -webkit-animation: comming 2s ease;
    -o-animation:comming 2s ease; 
    animation:comming 2s ease; 
}

main {
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 280px;
    
}

.menu li{
    float: left;
    font-size: 16px;
    color: #ffba00;
    line-height: 60px;
    margin-right: 20px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation:topshift 0.4s ease forwards ;
    animation:topshift 0.4s ease forwards ;
    opacity: 0;
}

.menu li a:visited{
    color: #ffba00;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:hover{
    color: white;
}
.menu li a:active{
    transform: scale(0.9);
}
.main{
    width: 100%;
    height: calc(100% + 0px);
    background: url(../img/pr.jpg) 90% 100%/auto 85% repeat;
}
.title__container{
    float: left;
    margin: 150px 0px 0px 400px;
    color: #ffba00;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation:titlemove 1s ease forwards ;
    -webkit-animation: titlemove 2s forwards;
    -o-animation: titlemove 2s forwards ;
    animation:titlemove 2s forwards ;
  
}


.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #bb8a52;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #bb8a52;
    background: none;
    border-radius: 5px;
    color: #bb8a52;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.title__container input{
transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: #bb8a52;
    color:white;
}
.title__container input:active{
    transform: scale(0.9);
}

@keyframes comming {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 400px;
    }
}


.about_me h2{
    text-align: center;
 border-bottom: 4px solid #d17700;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}

.about_me{
    width: 740px;
    margin: 0 auto;
    color: #336b44;
}


.about_me img{
    display: block;
    margin: 0 auto;
    border: 5px solid #336b44;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.about_me p{
    margin-top: 30px;
    color:black;
}

.about_me .secondText{
    margin-top: 15px;
}


.about_me input{
        display: block;
     width: 120px;
    height: 20px;
    text-align: center;
    border: 2px solid #336b44;
    background: none;
    border-radius: 5px;
    color: #336b44;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 14px 0px 310px;
}

.about_me input{
    transform: scale(1);
}
.about_me input:hover{
    background: #336b44;
    color:white;
}
.about_me input:active{
    transform: scale(0.9);
}

.skills h2{
    text-align: center;
    border-bottom: 4px solid #d17700;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
     color: #336b44;
}
.skills{
    width: 920px;
    margin: 0 auto;
}

.skills_item h3{
    color:#d17700;
    font-size: 16px;
     margin: 10px auto;
    padding-top: 5px;
}
.skills_item{
    float: left;
    width: 230px;
    text-align: center;
}

.skills_item img{
     display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    -webkit-animation: limon_img 0.4s ease forwards;
    -o-animation:limon_img 0.4s ease forwards ;
    animation:limon_img 0.4s ease forwards ;
    opacity: 0;*/
    
}

@keyframes limon_img {
    from {
        opacity: 0;
     margin-left: -100px;
    }
    to{
        opacity: 1;
        margin-left: 90px;
    }
}
.skills_item img:hover{
    transform: scale(0.7, 0.7);
}

 .Kays_item{
    float: left;
    width: 230px;
    text-align: center;
     
}

.Kays p{
    text-align: left;
    width: 1000px
    font-size: 16px;
      margin: 7px 0px 0px 200px;
  
    
}

.Kays img{
     display: block;
    margin: 0 auto;
    width: 750px;
    height: 440px;
    overflow: hidden;
     padding-top: 20px;
     
}


.Kays h2{
 text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 20px auto;
       border-bottom: 4px solid #d17700;
    padding-bottom: 5px;
     color: #336b44;
}

.Kays_item h3{
    font-size: 16px;
    margin: 10px auto;
    padding-top: 5px;
    text-align: left;
    width: 96px;
    font-size: 16px;
    margin: 7px 70px;
    padding-bottom: 5px;
     color: #d17700;
}

.Kays_item p{
    text-align: left;
    width: 200px;
    font-size: 16px;
     margin: 7px 70px 0px 150px;
    padding-bottom: 5px;
}

.Kays_item input{
     text-align: center;
    width: 150px;
    margin: 7px 150px;
    text-align:left;
    border: 3px solid #336b44;
    background: #336b44;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.Kays_item input{
    transform: scale(1);
}
.Kays_item input:hover{
    background: #336b44;
    color:#ffba00;
     border-radius: 10px;
}
.Kays_item input:active{
    
    transform: scale(0.9);
}

.Kays_item { text-align: center;
    width: 600px;
    font-size: 16px;
     margin: 7px 300px;
    padding-bottom: 5px;

}
.Kays_item h3{
    text-align: left;
    width: 200px;
    font-size: 16px;
     margin: 7px 70px 0px 150px;
    padding-bottom: 5px;
    color: #d17700;}

.clear {
    clear: left;
}

.Kays_item2 h3{
    text-align: left;
    width: 300px;
    font-size: 16px;
     margin: 10px 5px 0px 70px;
    padding-bottom: 5px;
        padding-left: 130px;
    color: #d17700;} 

.Kays_item2 {
     float: left;
    width: 850px;
     height: 19px;
    margin: 0px 5px 0px 350px;
    margin: 0px 5px 0px 400px;
    text-align: left;
      padding-left: 10px;  
        padding-bottom: 50px;
    
}
.Kays_item2 {
    width: 70%  ;
    margin: 0px 0px 0px 90px;
     
   
    }


.Kays_item {
    width: 100px;
    margin: 0px auto;
    }



    
    .Calculator{
    margin: 0px auto;
}

.Calculator h4{
    width: 100px;
    margin: 0px 170px;
    color: #d17700;
     padding-top: 10px;
    line-height: 30px;
    font-size: 16px;
     
}

.value select{
    display: block;
     margin: auto auto;
    width: 800px;
    height: 25px;
    background: #336b44;
    color:#fff;
   
}

.value h2{
    text-align: center;
 border-bottom: 4px solid #d17700;
    width: 105px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #336b44;
     line-height:normal;
}


.value p{
     margin: 0px 170px;
      color: #336b44;
     font-size: 16px;
       line-height:normal;
}


.satistics h2{
    text-align:center;
    border-bottom: 4px solid #d17700;
    width: 120px;
    font-size: 22px;
    margin: 15px auto;
    padding-bottom: 5px;
     color: #336b44;
   
}
.satistics{
    width: 100%;
    height: 200px;
    margin: 0 auto;
  background: url(..//img/photo_2022-10-04_01-40-52.jpg)  90% 100%/auto 100% fixed repeat;
    
  
}

.satistics_item h3{
    color:#d17700;
    font-size: 30px;
     margin: 10px auto;
    padding-top: 5px;
}

.satistics_item{
    float: left;
    width: 25%;
    text-align: center;
}

.satistics_item img{
     display: block;
    margin: 0 auto;
    width: 80px;
    height: 50px;
    overflow: hidden;  
}

.comment h2{
    text-align: center;
 border-bottom: 4px solid #d17700;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
     color: #336b44;
}

.comment{
    width: 740px;
    margin: 0 auto;
    color: #336b44;
}


.comment img{
    display: block;
    margin: 0 auto;
    border: 5px solid #336b44;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.comment p{
    margin-top: 20px;
    color:black;
}
.text2{ padding-bottom: 10px;}

.contacts { width: 100%;
    height: calc(100% - 150px);
    background: url(../img/fon2.jpg) 100% 100%/auto 100% repeat;}

.contacts h2{
    text-align: center;
    border-bottom: 4px solid #d17700;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
     color: #336b44;
}
.contacts{
    width: 100%;
    margin: 0 auto;
       float: left;
  
}


.contacts_item{
    float: left;
    width: 360px;
    text-align: center;
}

.contacts_item img{
     display: block;
    margin: 0px auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    
}
.text{   float: left;
    width: 100%;
    text-align: center;
 padding-bottom: 5px;}



.vvod{
       width: 100%;
    margin: 0px auto;
       float: left;
     height: 240px;
 }

.vvod h3{
    text-align: center;
    width: 300px;
    font-size: 19px;
    margin: 10px auto;
    padding-bottom: 5px;
     color: #336b44;
}


.name1{width: 333px;
     height: 100px;
    margin: 10px auto 0px 400px;
    }

.vvod_item{
    float: left;
    width: 150px;
     height: 19px;
    margin: 0px 5px 0px 400px;
    text-align: left;
       padding-right: 10px; 
}
.vvod_item2{
    float: left;
    width: 150px;
     height: 19px;
    margin: 0px 5px 0px 5px;
    text-align: left;
      padding-left: 10px;  
}

.otpravit{
        display: block;
     width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #336b44;
    background: none;
    border-radius: 5px;
    color: #336b44;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 14px 0px 500px;
      transform: scale(1);
}



.otpravit:hover{
    background: #336b44;
    color:white;
}
.otpravit:active{
    transform: scale(0.9);
}

